In [1]:
import json
import pandas as pd
import requests

In [7]:
df = pd.read_csv('resale-flat-prices-based-on-approval-date-1990-2012.csv')

In [8]:
df

          month        town  ... lease_commence_date resale_price
0       1990-01  ANG MO KIO  ...                1977       9000.0
1       1990-01  ANG MO KIO  ...                1977       6000.0
2       1990-01  ANG MO KIO  ...                1977       8000.0
3       1990-01  ANG MO KIO  ...                1977       6000.0
4       1990-01  ANG MO KIO  ...                1976      47200.0
...         ...         ...  ...                 ...          ...
656846  2012-02      YISHUN  ...                1985     476888.0
656847  2012-02      YISHUN  ...                1986     490000.0
656848  2012-02      YISHUN  ...                1988     488000.0
656849  2012-02      YISHUN  ...                1992     705000.0
656850  2012-02      YISHUN  ...                1992     630000.0

[656851 rows x 10 columns]

In [9]:
df_address = df['block'] + " " + df['street_name']

df_unique_address = df_address.drop_duplicates()
df_unique_address.reset_index(drop=True, inplace=True)
len(df_unique_address)

8416

In [10]:
df_unique_address

0         309 ANG MO KIO AVE 1
1         216 ANG MO KIO AVE 1
2         211 ANG MO KIO AVE 3
3         202 ANG MO KIO AVE 3
4         235 ANG MO KIO AVE 3
                 ...
8411        79A TOA PAYOH CTRL
8412      25 NEW UPP CHANGI RD
8413    677A JURONG WEST ST 64
8414           633A PUNGGOL DR
8415           636A PUNGGOL DR
Length: 8416, dtype: object

In [19]:
# This cell ran for >30 min to retrieve 8k+ records

latitude = []
longitude = []
postal_code = []
full_address = []
missing = []

for row in range(len(df_unique_address)):
    query_address = df_unique_address[row]
    query_string = 'https://developers.onemap.sg/commonapi/search?searchVal=' + str(query_address) + '&returnGeom=Y&getAddrDetails=Y'
    resp = requests.get(query_string)

    # Convert JSON into Python Object
    data_geo_location = json.loads(resp.content)
    if data_geo_location['found'] != 0:
        latitude.append(data_geo_location['results'][0]['LATITUDE'])
        longitude.append(data_geo_location['results'][0]['LONGITUDE'])
        postal_code.append(data_geo_location['results'][0]['POSTAL'])
        full_address.append(data_geo_location['results'][0]['ADDRESS'])
    else:
        missing.append(query_address)

In [23]:
missing

['309 ANG MO KIO AVE 1',
 '247 ANG MO KIO AVE 3',
 '252 ANG MO KIO AVE 4',
 '455 ANG MO KIO AVE 10',
 '4 HILLVIEW AVE',
 '6 HILLVIEW AVE',
 '2 HILLVIEW AVE',
 '33 TAMAN HO SWEE',
 '114 BT MERAH VIEW',
 '18 KG BAHRU HILL',
 '29 HAVELOCK RD',
 '111 BT MERAH VIEW',
 '22 OUTRAM PK',
 '12 SHORT ST',
 '13 SHORT ST',
 '314 CLEMENTI AVE 4',
 '313 CLEMENTI AVE 4',
 '401 CLEMENTI AVE 1',
 '1 JLN PASAR BARU',
 '59 SIMS DR',
 '3 TEBAN GDNS RD',
 '5 TEBAN GDNS RD',
 '10 TEBAN GDNS RD',
 '8 YUNG KUANG RD',
 '10 YUNG KUANG RD',
 '145 HU CHING RD',
 '167 BOON LAY DR',
 '168 BOON LAY DR',
 '169 BOON LAY DR',
 '170 BOON LAY DR',
 '172 BOON LAY DR',
 '220 BOON LAY AVE',
 "2 ST. GEORGE'S RD",
 '20 UPP BOON KENG RD',
 "20 ST. GEORGE'S RD",
 "23 ST. GEORGE'S RD",
 '53 TANGLIN HALT RD',
 '54 TANGLIN HALT RD',
 '96 MARGARET DR',
 '24 DOVER CRES',
 '173 STIRLING RD',
 '172 STIRLING RD',
 '52 TANGLIN HALT RD',
 "74 C'WEALTH DR",
 "77 C'WEALTH DR",
 "79 C'WEALTH DR",
 "78 C'WEALTH DR",
 '5 SELETAR WEST FARMWAY 6',
 '166 LOR 1 TOA PAYOH',
 '30 LOR 5 TOA PAYOH',
 '1A WOODLANDS CTR RD',
 '248 ANG MO KIO AVE 2',
 '454 ANG MO KIO AVE 10',
 '83 BEDOK NTH RD',
 '31 TAMAN HO SWEE',
 '107 DEPOT RD',
 '407 CLEMENTI AVE 1',
 '409 CLEMENTI AVE 1',
 '403 CLEMENTI AVE 1',
 '402 CLEMENTI AVE 1',
 '54 SIMS DR',
 '62 SIMS DR',
 '14 TEBAN GDNS RD',
 '5 YUNG PING RD',
 '6 YUNG PING RD',
 '142 HU CHING RD',
 '171 BOON LAY DR',
 '6 UPP BOON KENG RD',
 "21 ST. GEORGE'S RD",
 "22 ST. GEORGE'S RD",
 "76 C'WEALTH DR",
 '316 ANG MO KIO AVE 1',
 '110 BT MERAH VIEW',
 '22 KG BAHRU HILL',
 '11 SHORT ST',
 '7 TEBAN GDNS RD',
 '13 TEBAN GDNS RD',
 "3 ST. GEORGE'S RD",
 "5 ST. GEORGE'S LANE",
 "8 ST. GEORGE'S LANE",
 "1 ST. GEORGE'S RD",
 "13 ST. GEORGE'S RD",
 '3 LIM CHU KANG RD',
 '10 GHIM MOH RD',
 "27A C'WEALTH AVE",
 "80 C'WEALTH DR",
 '7 HILLVIEW AVE',
 '8 HILLVIEW AVE',
 '32 LOWER DELTA RD',
 '88 ZION RD',
 '90 ZION RD',
 '51 NILE RD',
 '54 NILE RD',
 '24 JLN MEMBINA BARAT',
 '6 TEBAN GDNS RD',
 "6 ST. GEORGE'S LANE",
 "11 ST. GEORGE'S RD",
 '5 BUANGKOK STH FARMWAY 1',
 '1 SELETAR WEST FARMWAY 6',
 '2 SELETAR WEST FARMWAY 6',
 '2A WOODLANDS CTR RD',
 '138 ALEXANDRA RD',
 '142 TIONG BAHRU RD',
 '91 ZION RD',
 '21 OUTRAM PK',
 '4 ROCHOR RD',
 '3 ROCHOR RD',
 "14 ST. GEORGE'S RD",
 "9 ST. GEORGE'S RD",
 "18 ST. GEORGE'S RD",
 "39A C'WEALTH AVE",
 '89 LOR 2 TOA PAYOH',
 '7 YUNG KUANG RD',
 "75 C'WEALTH DR",
 '167 LOR 1 TOA PAYOH',
 "7 ST. GEORGE'S LANE",
 '10 UPP BOON KENG RD',
 "19 ST. GEORGE'S RD",
 '113 BT MERAH VIEW',
 '23 KG BAHRU HILL',
 "10 ST. GEORGE'S RD",
 '51 TANGLIN HALT RD',
 "17 ST. GEORGE'S RD",
 "16 ST. GEORGE'S RD",
 '89 ZION RD',
 '137 ALEXANDRA RD',
 '24 KG BAHRU HILL',
 '68 DAKOTA CRES',
 "15 ST. GEORGE'S RD",
 '7 SELETAR WEST FARMWAY 6',
 "12 ST. GEORGE'S RD",
 '19 KG BAHRU HILL',
 '6 SELETAR WEST FARMWAY 6',
 "4B ST. GEORGE'S LANE"]

In [24]:
print(len(latitude), len(longitude), len(postal_code), len(full_address))

8282 8282 8282 8282

In [25]:
df_results = pd.DataFrame(list(zip(latitude, longitude, postal_code, full_address)), columns =['Latitude', 'Longitude', 'Postal Code', 'Full Address'])

In [26]:
df_results

                Latitude  ...                                       Full Address
0            1.366196788  ...  216 ANG MO KIO AVENUE 1 ANG MO KIO 22 SINGAPOR...
1     1.3691969659999998  ...  211 ANG MO KIO AVENUE 3 HDB-ANG MO KIO SINGAPO...
2             1.36844644  ...  202 ANG MO KIO AVENUE 3 ANG MO KIO VIEW SINGAP...
3            1.366823609  ...  235 ANG MO KIO AVENUE 3 KEBUN BARU PALM VIEW S...
4     1.3683460680000001  ...  232 ANG MO KIO AVENUE 3 KEBUN BARU PALM VIEW S...
...                  ...  ...                                                ...
8277         1.334531295  ...  79A TOA PAYOH CENTRAL CENTRAL HORIZON SINGAPOR...
8278         1.323250133  ...          25 NEW UPPER CHANGI ROAD SINGAPORE 462025
8279         1.345630476  ...  677A JURONG WEST STREET 64 EDELWEISS@JURONG SI...
8280         1.401369675  ...  633A PUNGGOL DRIVE EDGEDALE GREEN SINGAPORE 82...
8281  1.4002542130000002  ...  636A PUNGGOL DRIVE EDGEDALE GREEN SINGAPORE 82...

[8282 rows x 4 columns]

In [28]:
df_results.to_csv('address_details.csv', index=False)